<%- include('../partials/header'); %>
<body>
  <ul>
    <% pavilions.forEach((pavilion) => { %>
    <a href="/pavilions/<%= pavilion.id %>">
      <li><%= pavilion.name %></li>
    </a>
    <% }) %>
    <br />
    <br />
    <!-- <a href="/pavilions/new">Create New Pavilion</a> -->
  </ul>
  <br />
</body>
<%- include('../partials/footer'); %>
