<%- include('../partials/header'); %>
<body>
  <form action="/pavilions" method="POST">
    <label>Name: </label>
    <input type="text" name="name" required />
    <br />
    <label> Description:</label>
    <input type="text" name="description" required />
    <br />
    <button type="submit">Add Pavilion</button>
  </form>
</body>
<%- include('../partials/footer'); %>
