<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/pavilions">ALL PAVILIONS</a>
    <a href="/booths">ALL BOOTHS</a>
  </body>
</html>
