@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap");
* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr;
  overflow-y: scroll;
  overflow-x: scroll;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #264589;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 0 5vw;
  text-align: center;
}

body > main h1:first-child {
  margin-bottom: 20px;
}

nav > a {
  margin: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: #264589;
  background-color: #ffffff;
  text-decoration: underline;
}

nav > a.active {
  color: #cbe8f3;
  cursor: default;
  text-decoration: none;
}

form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, minmax(auto, 22rem));
}

input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  cursor: pointer;
  background-color: #264589;
  color: white;
  margin-right: 10px;
  margin-bottom: 35px;
  justify-self: flex-end;
}

input[type="submit"]:hover {
  color: #79c2df;
}

label {
  text-align: left;
}

button {
  cursor: pointer;
  background-color: #264589;
  color: white;
  width: 180px;
  justify-self: flex-end;
}
button:hover {
  color: #79c2df;
}

table {
  border-collapse: separate;
  border-spacing: 2vw;
  padding: 20px;
}

table thead th {
  text-align: left;
  font-size: 20px;
}

table td {
  vertical-align: top;
  text-align: left;
  font-size: 16px;
}

a {
  border-radius: 4px;
  color: #264589;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.new-link {
  color: #264589;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  height: auto;
  width: 20vw;
  min-width: 300px;
  box-shadow: 0px 0px 10px 2px #d0d7de;
  border-radius: 20px;
  margin: 0 0.5vw 35px;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}

.card-links {
  display: flex;
  flex-direction: row;
}

.large-menu-card {
  height: auto;
  width: 75vw;
  box-shadow: 0px 0px 10px 2px #d0d7de;
  border-radius: 20px;
  margin: 0 1vw 35px;
  min-width: 500px;
}

.menu-card {
  height: auto;
  width: 40vw;
  box-shadow: 0px 0px 10px 2px #d0d7de;
  border-radius: 20px;
  margin: 0 1vw 35px;
  min-width: 500px;
}

.menu-item-card {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr 3fr 0.5fr;
  column-gap: 50px;
  height: auto;
  width: 100%;
  padding: 0 20px;
}

.menu-item-card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  padding: 0 20px;
}

.delete-btn {
  width: auto;
}

.card-form {
  display: flex;
  justify-content: center;
}

.homepage-card-image {
  background-position: center;
  background-size: cover;
  height: 333px;
  width: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.homepage-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
}

.homepage-links a {
  margin: 0 2vw;
}

@media (max-width: 950px) {
  table {
    border-spacing: 1vw;
  }

  table thead th {
    font-size: 2.5vw;
  }

  table td {
    font-size: 2vw;
  }

  .large-menu-card {
    width: 80vw;
  }
}
