@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap");
* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #264589;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 20px;
}

nav > a {
  margin: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: #264589;
  background-color: #ffffff;
  text-decoration: underline;
}

nav > a.active {
  color: #cbe8f3;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  border-collapse: separate;
  border-spacing: 40px;
  /* border: solid 2px red; */
}

table thead th {
  text-align: left;
  font-size: 25px;
}

/* table td {
  border: 1px solid #ddd;
  padding: 18px;
} */

/* #list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}  */

a {
  border-radius: 4px;
  color: #264589;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #b8c0c2;
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem;
}

.badge {
  background-color: #b8c0c2;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 5vw;
}

.card {
  height: auto;
  width: 300px;
  box-shadow: 0px 0px 10px 2px #d0d7de;
  border-radius: 20px;
  margin: 0 0.5vw 35px;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  padding: 20px;
}

.menu-card {
  height: auto;
  width: 100%;
  box-shadow: 0px 0px 10px 2px #d0d7de;
  border-radius: 20px;
  margin-bottom: 35px;
}

.menu-item-card {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr 3fr 0.5fr;
  column-gap: 50px;
  height: auto;
  width: 100%;
  padding: 0 20px;
}
