<%- include('../partials/header') %>

<form action="/items" method="POST">
  <label>Name: </label>
  <input type="text" name="name" required />
  <br />
  <label>Price: $ </label>
  <input
    type="number"
    name="price"
    min="0.00"
    max="10000.00"
    step="0.01"
    placeholder="0.00"
    required
    pattern="^\d+(?:\.\d{1,2})?$"
  />
  <br />

  <label>Booth:</label>
  <select name="booth" required>
    <% booths.forEach(booth => { %>
    <option value="<%= booth.name %>"><%= booth.name %></option>
    <% }); %>
  </select>
  <br />
  <label>Description: </label>
  <input type="text" name="description" required />
  <br />
  <button type="submit">Add Menu Item</button>
</form>

<%- include('../partials/footer') %>
