<%- include('../partials/header'); %>
<body>
  <form action="/booths" method="POST">
    <label>Name: </label>
    <input type="text" name="name" required />
    <br />
    <label> Description:</label>
    <input type="text" name="description" required />
    <br />
    <label>Pavilion:</label>
    <select name="pavilion" required>
      <% pavilions.forEach(pavilion => { %>
      <option value="<%= pavilion._id %>"><%= pavilion.name %></option>
      <% }); %></select
    ><br />
    <button type="submit">Add Booth</button>
  </form>
</body>
<%- include('../partials/footer'); %>
